.card {
   display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 450px;
  overflow: hidden;
   font-family: arial;
  margin: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

 img{
  width:300px;
  height:250px;
  object-fit:cover;
} 
 
 p{
   height: 100%;
   width: 100%;
 }

 body{
   background-color:lightgray ;
 }
 
